@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$title-font:'Pacifico',cursive;

$button-color: #918E85;


h1{
    text-align: center;
    font-family: $title-font;
  }
.gallows{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.alphaButtons{
    width:300px;
    height: auto;
    //background-color: rgb(99, 0, 0);
    background-image:url('./wood-background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 5px;
    &_button{
        width: 10%;
        padding: 2%;
        margin: 2%;
        height: auto;
        color: white;
        background-color: $button-color;
        border-radius: 5px;
        
    }
    &_button:hover{
        color:red;
    }
}

.guessBox{
    width:300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &_spaces{  
        user-select: none;  
        text-align: center;
        color: white;
        text-decoration: 4px underline black;
    }

}

