@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Dirt&display=swap');

$title-font:'Pacifico',cursive;
$answer-font:'Rubik Dirt', cursive;;

$button-color: #918E85;


h1{
    text-align: center;
    font-family: $title-font;
    font-size: 3rem;
  }
.gallows{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.alphaButtons{
    width:300px;
    height: auto;
    //background-color: rgb(99, 0, 0);
    background-image:url('./wood-background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 5px;
    &_button{
        width: 10%;
        padding: 2%;
        margin: 2%;
        height: auto;
        color: white;
        background-color: $button-color;
        border-radius: 5px;
        
    }
    &_button:hover{
        color:red;
    }
}

.guessBox{
    width:300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    &_spaces{ 
        p{
            padding: 0;
            margin: 0;
        }
        width: 10%;
        user-select: none;  
        text-align: right;
        font-family: $answer-font;
        font-size: 2rem;
        padding: 5px;
        margin: 10px;
        color: white;
        border-bottom: 4px solid black;
    }

}


 .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    &_content {
      background-color: #fefefe;
      margin: 15% auto; 
      padding: 20px;
      border: 1px solid #888;
      width: 80%; 
      text-align: center;
    }
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

